---
Language:        Cpp
BasedOnStyle:    Google

IndentWidth:     4
TabWidth:        4
UseTab:          Never

BreakBeforeBraces: Attach

SpacesInParentheses: true
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceBeforeParens: ControlStatements

PointerAlignment: Left

ColumnLimit:     100

SortIncludes:    false

AccessModifierOffset: -4